html{
  margin: 0;
  padding: 0;
  height: 0;
}
body{
  margin: 0;
  /* margin: 20px 250px; */
  background-color: black;
  /* background-image: url(Images/Gloomy.jpg); */
  /* overflow: hidden; */
}


/* Canvas style */
#boardCanvas{
  background-color: #c08b5f;
}



/* Div Styles */
#ludo_game{
  width: 900px;
  /* margin: 0 auto; */
  position: absolute;
  z-index: 1;
  /* visibility: hidden; */
}

.players{
  width: 25%;
  /* height: 100%; */
  float: right;
  background-color: #c08b5f;
}
.players_panel{
  padding: 30px;
}
.dice_panel{
  padding: 20px;
}
.button_container{
  width: 100%;
  text-align: center;
}
.menuOptions{
  width: 100%;
  text-align: center;
}
.winner{
  width: 20%;
  position: absolute;
  text-align: center;
  margin: auto;
  z-index: 2;
  visibility: hidden;
  background-image: url(Images/woodBg.jpg);
}

/* Button Styles */
#diceRoll,#exitGame,#saveGame,#set,#exitGameOption,#save,#resumeGameFromExit{
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #592e1d;
}
#diceRoll:hover,#exitGame:hover,#saveGame:hover,#set:hover,#resumeGame:hover,#exitGameOption:hover,#save:hover{
  border-width: thick;
  border-color: white;
  border:solid;
}
#mainMenu,#resumeGame,#sgExitGameOption{
  border: none;
  font-family: 'Acme', sans-serif;
  /* width: 100%; */
  margin: 20px 0;
  font-size: 40px;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  background-image: url(images/woodBg.jpg);
  /* position: absolute; */
}



#diceRoll{
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #592e1d;
}
#exitGame,#saveGame{
  margin: 10px;
}

/* Shape Styles */
#rTile,#gTile,#yTile,#bTile{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: right;
}
#rTile{
  background-color: red;
  visibility: hidden;
  float: left;
}
#gTile{
  background-color: green;
  visibility: hidden;
  float: left;
}
#yTile{
  background-color: yellow;
  visibility: hidden;
  float: left;
}
#bTile{
  background-color: blue;
  visibility: hidden;
  float: left;
}



/* Die Styles */
.firstDie{
  float: left;
  padding: 5px;
}
.secondDie{
  float: right;
  padding: 5px;
}
img{
  width: 70px;
  height: 70px;
}


/* Input Style */
#diceRollTime{
  background-color: #592e1d;
  color: #999999;
  border: none;
  width: 90%;
  opacity: 0.5;
  padding: 10px 0px 10px 10px;
  border-radius: 3px 3px 3px 3px;
}
#gameName{
  background-color: #592e1d;
  color: #999999;
  border: none;
  width: 90%;
  opacity: 0.5;
  padding: 10px 0px 10px 10px;
  border-radius: 3px 3px 3px 3px;
}




#red{

}
#green{

}
#yellow{

}
#blue{

}
